- Update: 2023.07.04

# 0. 配置参数

- `source`：待查重数据源路径
- `out`：保存结果的路径

In [1]:
source = r'D:\Asher\日常工作\查重\查重自动化\Asher【模板】.xlsx'# 输入带查重文件路径

out = r'D:\Asher\日常工作\查重\20230814\【查重结果】发动机水管_NOW().xlsx' # 输入输出文件路径

In [2]:
import pandas as pd

In [3]:
# 读取待查重数据
fac_data = pd.read_excel(source,sheet_name='需查重数据',dtype=str).fillna('')

fac_data

      序号    辨识号                                              OE
0      1  YT001  626111;15792821;15834772;15854959;18221L;22554
1      2  YT002                                626664;5058437AK
2      3  YT003                                      1712764615
3      4  YT004                                     11537572159
4      5  YT005                                     17127519258
..   ...    ...                                             ...
420  421  YT421                                     06A121065DG
421  422  YT422                                 626654;22885825
422  423  YT423                              626578;4L3Z18472BB
423  424  YT424                                     11537649409
424  425  YT425                                     17127508012

[425 rows x 3 columns]

## 定义清理OE函数

In [4]:
import re

In [5]:
def normalise_oe(oe):
    
    oe = str(oe).strip()
#     oe = re.sub(r'^[a-zA-Z]*:', '', oe)#去除":"及前面所有字母
#     oe = re.sub(r'[\u4e00-\u9fa5]','',oe) #去除汉字
    oe = re.sub(r'[\u4e00-\u9fa5]+[a-zA-Z]*','',oe) #去除汉字及后面所有字母
#     oe = re.sub('\.+','',oe)  #去除"."符号
    oe = re.sub('\（','(',oe) #将所有中文"（"符号替换为英文"("
    oe = re.sub('\）',')',oe) #将所有中文"）"符号替换为英文")"
    oe = re.sub('\([^)]*\)','',oe)  #删除所有"()"及其内部的字符（因为通常不是OE号）
#     oe = re.sub('\(.*\)','',oe)  #删除所有"()"及其内部的字符（因为通常不是OE号）,该方法在特殊情况下会删除OE号
    oe = re.sub('\*+', '', oe) #删除所有的"*"
    oe = re.sub('  +', ';', oe) #将两个以上的空格替换为';'
    oe = re.sub(' ', '', oe) #删除单空格
    oe = re.sub('/+', ';', oe) #将“/"替换为';'
    oe = re.sub('\n', ';', oe) #将换行符替换为';'
    oe = re.sub('[；，,+]', ';', oe) #将[；，,+]替换为';'
    oe = re.sub('\u200e', '', oe)
    oe = re.sub(';$','',oe)# 匹配末尾的';'
    oe = re.sub('\-', '', oe)# 匹配'-'

    #list1 = oe26.split(';')
    list1 = [i for i in str(oe).split(';') if i != '' and i.isalpha() == False] #去除空格
    list1 = [re.sub(r'[^0-9]+[:：\.]','',i) for i in list1]#去除":"及前面所有字母
    list1 = [re.sub(r'\.+','',i) for i in list1]
    list1 = [re.sub(r'[:：]+','',i) for i in list1]#去除":"
    list1 = [i for i in list1 if i !=''and i.isalpha() == False] #去除空格
    list1 = [re.sub(r'\r','',i) for i in list1]
    
    list1 = [oe.upper() for oe in list1] # 将OE中的字母全部转换为大写
    
    list2 = list(set(list1))
    list2.sort(key = list1.index)# 去重后保持OE号原来的顺序
    
    oe=';'.join(list2)
    
# #     删除OE号中混杂的年份如'1999';'2018'
    
#     list3 = [i for i in str(oe).split(';') if len(i) > 3]
    
#     list3 = [i for i in list3 if not (len(i) == 4 and i[0] in ['1', '2'])]

    
#     oe=';'.join(list3)
    
    return oe.upper()

In [6]:
fac_data['清理后OE'] = [normalise_oe(fac_data.loc[i, 'OE']) for i in range(len(fac_data))]

fac_data

,序号,辨识号,OE,清理后OE
0,1,YT001,626111;15792821;15834772;15854959;18221L;22554,626111;15792821;15834772;15854959;18221L;22554
1,2,YT002,626664;5058437AK,626664;5058437AK
2,3,YT003,1712764615,1712764615
3,4,YT004,11537572159,11537572159
4,5,YT005,17127519258,17127519258
...,...,...,...,...
420,421,YT421,06A121065DG,06A121065DG
421,422,YT422,626654;22885825,626654;22885825
422,423,YT423,626578;4L3Z18472BB,626578;4L3Z18472BB
423,424,YT424,11537649409,11537649409
424,425,YT425,17127508012,17127508012

In [7]:
# 剔除无OE的数据
clean_fac_data = fac_data[fac_data['清理后OE']!='']

clean_fac_data

,序号,辨识号,OE,清理后OE
0,1,YT001,626111;15792821;15834772;15854959;18221L;22554,626111;15792821;15834772;15854959;18221L;22554
1,2,YT002,626664;5058437AK,626664;5058437AK
2,3,YT003,1712764615,1712764615
3,4,YT004,11537572159,11537572159
4,5,YT005,17127519258,17127519258
...,...,...,...,...
420,421,YT421,06A121065DG,06A121065DG
421,422,YT422,626654;22885825,626654;22885825
422,423,YT423,626578;4L3Z18472BB,626578;4L3Z18472BB
423,424,YT424,11537649409,11537649409
424,425,YT425,17127508012,17127508012

In [8]:
new_fac_data = clean_fac_data[['辨识号','清理后OE']].copy()
new_fac_data['清理后OE'] = new_fac_data['清理后OE'].str.split(';')
new_fac_data = new_fac_data.explode('清理后OE')

new_fac_data

       辨识号        清理后OE
0    YT001       626111
0    YT001     15792821
0    YT001     15834772
0    YT001     15854959
0    YT001       18221L
..     ...          ...
421  YT422     22885825
422  YT423       626578
422  YT423  4L3Z18472BB
423  YT424  11537649409
424  YT425  17127508012

[512 rows x 2 columns]

## 和其他表查重

In [9]:
# 读取系统数据
sku_data = pd.read_excel(source,sheet_name='PTSKU',dtype=str).fillna('')

sku_data

             SKU                                                 OE
0     HHA26565-C                                  626-565;1C0121065
1     HHA26603-C                                 626-603;53022199AC
2     HHA26583-C                                626-583;XL1Z18663DA
3     HHA26623-C                        626-623;55115896;55115896AB
4     HHA26629-C                                 626-629;53034238AB
...          ...                                                ...
2535     TH00101                             24652001011;2465200101
2536     TH00080                                          WAP000080
2537     TH00073  V10-0073;22607;1H0121101E;1H0121101B;191121101...
2538     TH00036                         7700300369;9160336;4500036
2539     TH00001                                         2465200001

[2540 rows x 2 columns]

In [10]:
sku_data['清理后OE'] = [normalise_oe(sku_data.loc[i, 'OE']) for i in range(len(sku_data))]

sku_data

,SKU,OE,清理后OE
0,HHA26565-C,626-565;1C0121065,626565;1C0121065
1,HHA26603-C,626-603;53022199AC,626603;53022199AC
2,HHA26583-C,626-583;XL1Z18663DA,626583;XL1Z18663DA
3,HHA26623-C,626-623;55115896;55115896AB,626623;55115896;55115896AB
4,HHA26629-C,626-629;53034238AB,626629;53034238AB
...,...,...,...
2535,TH00101,24652001011;2465200101,24652001011;2465200101
2536,TH00080,WAP000080,WAP000080
2537,TH00073,V10-0073;22607;1H0121101E;1H0121101B;191121101...,V100073;22607;1H0121101E;1H0121101B;191121101A...
2538,TH00036,7700300369;9160336;4500036,7700300369;9160336;4500036
2539,TH00001,2465200001,2465200001

In [11]:
clean_sku_data = sku_data[sku_data['清理后OE']!='']

clean_sku_data

,SKU,OE,清理后OE
0,HHA26565-C,626-565;1C0121065,626565;1C0121065
1,HHA26603-C,626-603;53022199AC,626603;53022199AC
2,HHA26583-C,626-583;XL1Z18663DA,626583;XL1Z18663DA
3,HHA26623-C,626-623;55115896;55115896AB,626623;55115896;55115896AB
4,HHA26629-C,626-629;53034238AB,626629;53034238AB
...,...,...,...
2535,TH00101,24652001011;2465200101,24652001011;2465200101
2536,TH00080,WAP000080,WAP000080
2537,TH00073,V10-0073;22607;1H0121101E;1H0121101B;191121101...,V100073;22607;1H0121101E;1H0121101B;191121101A...
2538,TH00036,7700300369;9160336;4500036,7700300369;9160336;4500036
2539,TH00001,2465200001,2465200001

In [12]:
new_sku_data = clean_sku_data[['SKU','清理后OE']].copy()
new_sku_data['清理后OE'] = new_sku_data['清理后OE'].str.split(';')
new_sku_data = new_sku_data.explode('清理后OE')

new_sku_data

             SKU       清理后OE
0     HHA26565-C      626565
0     HHA26565-C   1C0121065
1     HHA26603-C      626603
1     HHA26603-C  53022199AC
2     HHA26583-C      626583
...          ...         ...
2537     TH00073  6K0121101B
2538     TH00036  7700300369
2538     TH00036     9160336
2538     TH00036     4500036
2539     TH00001  2465200001

[6997 rows x 2 columns]

In [13]:
merge_data = pd.merge(new_fac_data,new_sku_data,on='清理后OE',how='left').fillna('')

merge_data

       辨识号        清理后OE      SKU
0    YT001       626111
1    YT001     15792821
2    YT001     15834772
3    YT001     15854959
4    YT001       18221L
..     ...          ...      ...
515  YT422     22885825
516  YT423       626578
517  YT423  4L3Z18472BB
518  YT424  11537649409
519  YT425  17127508012  RH24505

[520 rows x 3 columns]

In [14]:
repeat_data = merge_data[merge_data['SKU']!='']

repeat_data

       辨识号        清理后OE         SKU
9    YT004  11537572159     RH72159
26   YT019  1J0121156BH     RH1J056
34   YT027   1J0122051H     TH02823
39   YT032   8D0819371H     TH02811
54   YT047  11537603514     RH51525
116  YT109  11537521049     RH51738
132  YT125  17127596839     RH19907
144  YT137       626542  HHA26542-C
145  YT137   BR3Z18663A  HHA26542-C
146  YT138       626561  HHA26561-C
147  YT138    5058551AE  HHA26561-C
154  YT141       626603  HHA26603-C
155  YT141   53022199AC  HHA26603-C
205  YT163       625022  OCL01326-C
206  YT163       625022    OCL01326
207  YT163   0400429131  OCL01326-C
208  YT163   0400429131    OCL01326
209  YT163   1576731010  OCL01326-C
210  YT163   1576731010    OCL01326
211  YT163   1576731020  OCL01326-C
212  YT163   1576731020    OCL01326
217  YT165       626597  HHA26597-C
218  YT165   BR3Z18696A  HHA26597-C
219  YT166       624279  OCL01472-C
220  YT166       624279    OCL01472
221  YT166   3290760070  OCL01472-C
222  YT166   3290760070    OCL01472
223  YT166   3290760071  OCL01472-C
224  YT166   3290760071    OCL01472
225  YT167       626594    OCL26594
226  YT167   21328AA011    OCL26594
235  YT171       626573    FFP26573
236  YT171     12603191    FFP26573
237  YT172       626558  HHA26558-C
238  YT172   F75Z8555AB  HHA26558-C
239  YT173       626608  HHA26608-C
240  YT173  1L3Z18663BA  HHA26608-C
241  YT174       626520  HHA26520-C
242  YT174     12600226  HHA26520-C
243  YT175       626525  HHA26525-C
244  YT175     12568743  HHA26525-C
253  YT180       626563  HHA26563-C
254  YT180  3L3Z18663HA  HHA26563-C
257  YT182       626560  HHA26560-C
258  YT182  5L3Z18663AA  HHA26560-C
261  YT184       626631  HHA26631-C
262  YT184   AC3Z18696A  HHA26631-C
286  YT203  17127516416   RH0668275
287  YT203  17127516416     RH71275
291  YT207  11537572158     RH72158
316  YT231  17117620688     RH20688
328  YT243  17128651298     RH21360
348  YT263  64216928590     RH28590
362  YT277   2045010125     RH20666
375  YT290   2045010182     TH10182
448  YT361     LR002589     TH02589
450  YT363     LR066436     TH80181
465  YT375     LR076845     TH76845
505  YT414   06A103474A     TH03474
519  YT425  17127508012     RH24505

In [15]:
sku_repeat_data = repeat_data.groupby(['辨识号'],as_index=False,sort=False).agg({'清理后OE':';'.join,'SKU':';'.join})

sku_repeat_data

,辨识号,清理后OE,SKU
0,YT004,11537572159,RH72159
1,YT019,1J0121156BH,RH1J056
2,YT027,1J0122051H,TH02823
3,YT032,8D0819371H,TH02811
4,YT047,11537603514,RH51525
5,YT109,11537521049,RH51738
6,YT125,17127596839,RH19907
7,YT137,626542;BR3Z18663A,HHA26542-C;HHA26542-C
8,YT138,626561;5058551AE,HHA26561-C;HHA26561-C
9,YT141,626603;53022199AC,HHA26603-C;HHA26603-C
10,YT163,625022;625022;0400429131;0400429131;1576731010...,OCL01326-C;OCL01326;OCL01326-C;OCL01326;OCL013...
11,YT165,626597;BR3Z18696A,HHA26597-C;HHA26597-C
12,YT166,624279;624279;3290760070;3290760070;3290760071...,OCL01472-C;OCL01472;OCL01472-C;OCL01472;OCL014...
13,YT167,626594;21328AA011,OCL26594;OCL26594
14,YT171,626573;12603191,FFP26573;FFP26573
15,YT172,626558;F75Z8555AB,HHA26558-C;HHA26558-C
16,YT173,626608;1L3Z18663BA,HHA26608-C;HHA26608-C
17,YT174,626520;12600226,HHA26520-C;HHA26520-C
18,YT175,626525;12568743,HHA26525-C;HHA26525-C
19,YT180,626563;3L3Z18663HA,HHA26563-C;HHA26563-C
20,YT182,626560;5L3Z18663AA,HHA26560-C;HHA26560-C
21,YT184,626631;AC3Z18696A,HHA26631-C;HHA26631-C
22,YT203,17127516416;17127516416,RH0668275;RH71275
23,YT207,11537572158,RH72158
24,YT231,17117620688,RH20688
25,YT243,17128651298,RH21360
26,YT263,64216928590,RH28590
27,YT277,2045010125,RH20666
28,YT290,2045010182,TH10182
29,YT361,LR002589,TH02589
30,YT363,LR066436,TH80181
31,YT375,LR076845,TH76845
32,YT414,06A103474A,TH03474
33,YT425,17127508012,RH24505

In [16]:
sku_repeat_data.rename(columns={'清理后OE':'系统重复OE','SKU':'重复PTSKU'},inplace=True)

sku_repeat_data

,辨识号,系统重复OE,重复PTSKU
0,YT004,11537572159,RH72159
1,YT019,1J0121156BH,RH1J056
2,YT027,1J0122051H,TH02823
3,YT032,8D0819371H,TH02811
4,YT047,11537603514,RH51525
5,YT109,11537521049,RH51738
6,YT125,17127596839,RH19907
7,YT137,626542;BR3Z18663A,HHA26542-C;HHA26542-C
8,YT138,626561;5058551AE,HHA26561-C;HHA26561-C
9,YT141,626603;53022199AC,HHA26603-C;HHA26603-C
10,YT163,625022;625022;0400429131;0400429131;1576731010...,OCL01326-C;OCL01326;OCL01326-C;OCL01326;OCL013...
11,YT165,626597;BR3Z18696A,HHA26597-C;HHA26597-C
12,YT166,624279;624279;3290760070;3290760070;3290760071...,OCL01472-C;OCL01472;OCL01472-C;OCL01472;OCL014...
13,YT167,626594;21328AA011,OCL26594;OCL26594
14,YT171,626573;12603191,FFP26573;FFP26573
15,YT172,626558;F75Z8555AB,HHA26558-C;HHA26558-C
16,YT173,626608;1L3Z18663BA,HHA26608-C;HHA26608-C
17,YT174,626520;12600226,HHA26520-C;HHA26520-C
18,YT175,626525;12568743,HHA26525-C;HHA26525-C
19,YT180,626563;3L3Z18663HA,HHA26563-C;HHA26563-C
20,YT182,626560;5L3Z18663AA,HHA26560-C;HHA26560-C
21,YT184,626631;AC3Z18696A,HHA26631-C;HHA26631-C
22,YT203,17127516416;17127516416,RH0668275;RH71275
23,YT207,11537572158,RH72158
24,YT231,17117620688,RH20688
25,YT243,17128651298,RH21360
26,YT263,64216928590,RH28590
27,YT277,2045010125,RH20666
28,YT290,2045010182,TH10182
29,YT361,LR002589,TH02589
30,YT363,LR066436,TH80181
31,YT375,LR076845,TH76845
32,YT414,06A103474A,TH03474
33,YT425,17127508012,RH24505

In [17]:
sku_repeat_data['系统重复OE'] = sku_repeat_data['系统重复OE'].str.split(';').apply(lambda x: sorted(list(set(x)), key=x.index))
sku_repeat_data['重复PTSKU'] = sku_repeat_data['重复PTSKU'].str.split(';').apply(lambda x: sorted(list((set(x))), key=x.index))

In [18]:
sku_repeat_data

,辨识号,系统重复OE,重复PTSKU
0,YT004,[11537572159],[RH72159]
1,YT019,[1J0121156BH],[RH1J056]
2,YT027,[1J0122051H],[TH02823]
3,YT032,[8D0819371H],[TH02811]
4,YT047,[11537603514],[RH51525]
5,YT109,[11537521049],[RH51738]
6,YT125,[17127596839],[RH19907]
7,YT137,"[626542, BR3Z18663A]",[HHA26542-C]
8,YT138,"[626561, 5058551AE]",[HHA26561-C]
9,YT141,"[626603, 53022199AC]",[HHA26603-C]
10,YT163,"[625022, 0400429131, 1576731010, 1576731020]","[OCL01326-C, OCL01326]"
11,YT165,"[626597, BR3Z18696A]",[HHA26597-C]
12,YT166,"[624279, 3290760070, 3290760071]","[OCL01472-C, OCL01472]"
13,YT167,"[626594, 21328AA011]",[OCL26594]
14,YT171,"[626573, 12603191]",[FFP26573]
15,YT172,"[626558, F75Z8555AB]",[HHA26558-C]
16,YT173,"[626608, 1L3Z18663BA]",[HHA26608-C]
17,YT174,"[626520, 12600226]",[HHA26520-C]
18,YT175,"[626525, 12568743]",[HHA26525-C]
19,YT180,"[626563, 3L3Z18663HA]",[HHA26563-C]
20,YT182,"[626560, 5L3Z18663AA]",[HHA26560-C]
21,YT184,"[626631, AC3Z18696A]",[HHA26631-C]
22,YT203,[17127516416],"[RH0668275, RH71275]"
23,YT207,[11537572158],[RH72158]
24,YT231,[17117620688],[RH20688]
25,YT243,[17128651298],[RH21360]
26,YT263,[64216928590],[RH28590]
27,YT277,[2045010125],[RH20666]
28,YT290,[2045010182],[TH10182]
29,YT361,[LR002589],[TH02589]
30,YT363,[LR066436],[TH80181]
31,YT375,[LR076845],[TH76845]
32,YT414,[06A103474A],[TH03474]
33,YT425,[17127508012],[RH24505]

In [19]:
merge_data

       辨识号        清理后OE      SKU
0    YT001       626111
1    YT001     15792821
2    YT001     15834772
3    YT001     15854959
4    YT001       18221L
..     ...          ...      ...
515  YT422     22885825
516  YT423       626578
517  YT423  4L3Z18472BB
518  YT424  11537649409
519  YT425  17127508012  RH24505

[520 rows x 3 columns]

In [20]:
sku_repeat_data['系统重复OE'] = sku_repeat_data['系统重复OE'].apply(lambda x: ';'.join(x))
sku_repeat_data['重复PTSKU'] = sku_repeat_data['重复PTSKU'].apply(lambda x: ';'.join(x))

In [21]:
sku_repeat_data

      辨识号                                   系统重复OE              重复PTSKU
0   YT004                              11537572159              RH72159
1   YT019                              1J0121156BH              RH1J056
2   YT027                               1J0122051H              TH02823
3   YT032                               8D0819371H              TH02811
4   YT047                              11537603514              RH51525
5   YT109                              11537521049              RH51738
6   YT125                              17127596839              RH19907
7   YT137                        626542;BR3Z18663A           HHA26542-C
8   YT138                         626561;5058551AE           HHA26561-C
9   YT141                        626603;53022199AC           HHA26603-C
10  YT163  625022;0400429131;1576731010;1576731020  OCL01326-C;OCL01326
11  YT165                        626597;BR3Z18696A           HHA26597-C
12  YT166             624279;3290760070;3290760071  OCL01472-C;OCL01472
13  YT167                        626594;21328AA011             OCL26594
14  YT171                          626573;12603191             FFP26573
15  YT172                        626558;F75Z8555AB           HHA26558-C
16  YT173                       626608;1L3Z18663BA           HHA26608-C
17  YT174                          626520;12600226           HHA26520-C
18  YT175                          626525;12568743           HHA26525-C
19  YT180                       626563;3L3Z18663HA           HHA26563-C
20  YT182                       626560;5L3Z18663AA           HHA26560-C
21  YT184                        626631;AC3Z18696A           HHA26631-C
22  YT203                              17127516416    RH0668275;RH71275
23  YT207                              11537572158              RH72158
24  YT231                              17117620688              RH20688
25  YT243                              17128651298              RH21360
26  YT263                              64216928590              RH28590
27  YT277                               2045010125              RH20666
28  YT290                               2045010182              TH10182
29  YT361                                 LR002589              TH02589
30  YT363                                 LR066436              TH80181
31  YT375                                 LR076845              TH76845
32  YT414                               06A103474A              TH03474
33  YT425                              17127508012              RH24505

In [22]:
result = pd.merge(fac_data,sku_repeat_data,on='辨识号',how='left').fillna('')

result

,序号,辨识号,OE,清理后OE,系统重复OE,重复PTSKU
0,1,YT001,626111;15792821;15834772;15854959;18221L;22554,626111;15792821;15834772;15854959;18221L;22554,,
1,2,YT002,626664;5058437AK,626664;5058437AK,,
2,3,YT003,1712764615,1712764615,,
3,4,YT004,11537572159,11537572159,11537572159,RH72159
4,5,YT005,17127519258,17127519258,,
...,...,...,...,...,...,...
420,421,YT421,06A121065DG,06A121065DG,,
421,422,YT422,626654;22885825,626654;22885825,,
422,423,YT423,626578;4L3Z18472BB,626578;4L3Z18472BB,,
423,424,YT424,11537649409,11537649409,,
424,425,YT425,17127508012,17127508012,17127508012,RH24505

In [23]:
result['是否已开发']=''

In [24]:
result

,序号,辨识号,OE,清理后OE,系统重复OE,重复PTSKU,是否已开发
0,1,YT001,626111;15792821;15834772;15854959;18221L;22554,626111;15792821;15834772;15854959;18221L;22554,,,
1,2,YT002,626664;5058437AK,626664;5058437AK,,,
2,3,YT003,1712764615,1712764615,,,
3,4,YT004,11537572159,11537572159,11537572159,RH72159,
4,5,YT005,17127519258,17127519258,,,
...,...,...,...,...,...,...,...
420,421,YT421,06A121065DG,06A121065DG,,,
421,422,YT422,626654;22885825,626654;22885825,,,
422,423,YT423,626578;4L3Z18472BB,626578;4L3Z18472BB,,,
423,424,YT424,11537649409,11537649409,,,
424,425,YT425,17127508012,17127508012,17127508012,RH24505,

In [25]:
for i in range(len(result)):
    if result.loc[i,'清理后OE'] != '':
        if result.loc[i,'重复PTSKU']!='':
            result.loc[i,'是否已开发'] = '是'
        else:
            result.loc[i,'是否已开发'] = '否'
    else:
        result.loc[i,'是否已开发'] = '无OE号，待进一步确认'

In [26]:
result

,序号,辨识号,OE,清理后OE,系统重复OE,重复PTSKU,是否已开发
0,1,YT001,626111;15792821;15834772;15854959;18221L;22554,626111;15792821;15834772;15854959;18221L;22554,,,否
1,2,YT002,626664;5058437AK,626664;5058437AK,,,否
2,3,YT003,1712764615,1712764615,,,否
3,4,YT004,11537572159,11537572159,11537572159,RH72159,是
4,5,YT005,17127519258,17127519258,,,否
...,...,...,...,...,...,...,...
420,421,YT421,06A121065DG,06A121065DG,,,否
421,422,YT422,626654;22885825,626654;22885825,,,否
422,423,YT423,626578;4L3Z18472BB,626578;4L3Z18472BB,,,否
423,424,YT424,11537649409,11537649409,,,否
424,425,YT425,17127508012,17127508012,17127508012,RH24505,是

In [27]:
result[result['是否已开发']=='无OE号，待进一步确认']

Empty DataFrame
Columns: [序号, 辨识号, OE, 清理后OE, 系统重复OE, 重复PTSKU, 是否已开发]
Index: []

In [28]:
import datetime

In [29]:
result.to_excel(out.replace('NOW()', datetime.datetime.now().strftime("%Y%m%d_%H%M%S")), index=False)